.company-left-image{
	width: 30%;
	height: 100%;
    background: url(../images/company/left.png) no-repeat;
    background-size: 100% 100%;
    float: left;
}
.company-left-image{
	width: 30%;
	height: 100%;
    background: url(../images/company/left.png) no-repeat;
    background-size: 100% 100%;
    float: left;
}